.Rproj.user
.Rhistory
.RData
inst/doc
*.bar
*.cor 
*.cpp
*.ecm
*.eva
*.exe
*.hst
*.htp
*.log
*.mc2
*.mcm
*.obj
*.par
*.psv
*.std
*.cov
*sims
adaptation.csv
admodel.*
*pin
rwm_lp.txt
unbounded.csv
*adapted_metric.txt